.felt-background {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-size: 2000px;
    -fx-background-repeat: no-repeat;
}

.mode-selection-button {
    -fx-pref-height: 250px;
    -fx-pref-width: 250px;

    -fx-border-radius: 250;
    -fx-background-radius: 250;
    -fx-background-insets: 250;

    -fx-background-image: url("../images/dartboard.png");
    -fx-background-size: 250px;

    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.menu-button {
    -fx-pref-height: 100px;
    -fx-pref-width: 100px;

    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-background-insets: 100;

    -fx-background-image: url("../images/dartboard.png");
    -fx-background-size: 100px;

    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.match-view {
    -fx-font-size: 20;
}

.player-panel {
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    /*-fx-border-color: #FFF;*/
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 3, 0, 0, 2);
}

.player-panel > .label {
    -fx-text: #FFF;
    -fx-text-fill: #FFF;
}